{% extends 'base.html.twig' %}

{% block title %}Espace admin{% endblock %}

{% block body %}
<h1>admin</h1>

<a href="{{path('app_home')}}">Accueil</a>
<a href="{{ path('app_logout')}}">Déconnection</a>
    </h2>
        <div class="container">

    <h3>Ajouter Produit</h3>
    {{ form_start(form) }}

<div class="row w-50">

        {{ form_widget(form) }}
</div>
<div class="col">
        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
           </div>
    {{ form_end(form) }}
 <div>
 <div>
     {% for produit in produits %}
    <ul class="mt-2">
        <li>id Produit = {{produit.id}}</li>
        <li>Titre = {{ produit.nom }}</li>
        <li>Description = {{ produit.description }} </li>
        <li>Stock = {{ produit.stock }} </li>
    <h3>            <a href="{{ path('app_produit_edit',{'id': (produit.id)})}}">Modifier</a>
            <a href="{{ path('espaceAdminSupp',{'id': (produit.id)})}}">Supprimer</a>
    </ul>
{% endfor %}
</div>

</div>


{% endblock %}
