{% extends 'base.html.twig' %}

{% block title %}Vente de voiture{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav>
    <a href="{{ path('app_home') }}">
<img src="{{asset('/image/logo.jpg')}}" alt="logo" ></a>
    <a class="container rounded bg-light link-dark link-underline-light"href="{{ path('app_home') }}">Accueil</a>
</nav>
<div class="text-center">
    <h1 >Vente de voiture</h1>

    <h2> modèles</h2>
    </div>
    <div class="d-flex flex-wrap">

         {% for produit in listeProduit %}
<div class="d-flex flex-row align-content-between ">
<div class=" row p-2 m-2 gap-3 ">
<div class="card col-4 p-2  bg-light" style="width: 18rem;">
  <img src="{{ asset(produit.image) }}"class="card-img-top" alt="#" /></a> </li>

  <div class="card-body">
    <h5 class="card-title">Titre = {{ produit.nom }}
</h5>
    <p class="card-text">Description = {{ produit.description }}
</p>
        <p>Stock = {{ produit.stock }} </p>

    <a href="{{ path('route_produit', {'id': (produit.id) }) }}" class="btn btn-dark">Détails produit : {{ produit.nom }}</a>
  </div>
</div>
</div>
</div>



        {% endfor %}

</div>

{% endblock %}
